<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bienvenue sur le site de lp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link href="{{url_for('static',filename='assets/img/favicon.png')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Site lp</a></h1>  
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{{url_for('site') }}" class="logo me-auto"><img src="{{url_for('static',filename='assets/annecy.png')}}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('alias') }}">Alias</a></li>
          <li><a href="{{url_for('rules_filter') }}">Règles NAT</a></li>
          <li><a href="{{url_for('rules_nat_add') }}">Modifier les règles NAT</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{url_for('site') }}">Home</a></li>
		      <li>table NAT</li>
        </ol>
        <h2>Table NAT</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <table class="table table-dark">
            <thead>
				<tr>
					<th>Adresse IP source</th>
					<th>Adresse IP destination</th>
					<th>Port source</th>
					<th>Port destination</th>
					<th>Protocole</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="form-control" value="192.168.0.10"></td>
					<td><input type="text" class="form-control" value="8.8.8.8"></td>
					<td><input type="text" class="form-control" value="5000"></td>
					<td><input type="text" class="form-control" value="80"></td>
					<td>
						<select class="form-control">
							<option>UDP</option>
                            <option>TCP</option>
                            <option>TCP/UDP</option>
						</select>
					</td>
                </tr>
				<tr>
					<td><input type="text" class="form-control" value="192.168.0.50"></td>
					<td><input type="text" class="form-control" value="8.8.8.8"></td>
					<td><input type="text" class="form-control" value="5000"></td>
					<td><input type="text" class="form-control" value="80"></td>
					<td>
						<select class="form-control">
							<option>UDP</option>
                            <option>TCP</option>
                            <option>TCP/UDP</option>
						</select>
					</td>
                </tr>
				<tr>
					<td><input type="text" class="form-control" value="192.168.0.60"></td>
					<td><input type="text" class="form-control" value="8.8.8.8"></td>
					<td><input type="text" class="form-control" value="5000"></td>
					<td><input type="text" class="form-control" value="80"></td>
					<td>
						<select class="form-control">
							<option>UDP</option>
                            <option>TCP</option>
                            <option>TCP/UDP</option>
						</select>
					</td>
                </tr>
				<tr>
					<td><input type="text" class="form-control" value="192.168.0.70"></td>
					<td><input type="text" class="form-control" value="8.8.8.8"></td>
					<td><input type="text" class="form-control" value="5000"></td>
					<td><input type="text" class="form-control" value="80"></td>
					<td>
						<select class="form-control">
							<option>UDP</option>
                            <option>TCP</option>
                            <option>TCP/UDP</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="text" class="form-control" value="192.168.0.20"></td>
					<td><input type="text" class="form-control" value="8.8.4.4"></td>
					<td><input type="text" class="form-control" value="6000"></td>
					<td><input type="text" class="form-control" value="443"></td>
					<td>
						<select class="form-control">
							<option>UDP</option>
                            <option>TCP</option>
                            <option>TCP/UDP</option>
						</select>
					</td>
				</tr>
			</tbody>
        </table>
        <div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Vous pouvez modifier des règles NAT</h4>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>lp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://private-lp.fr/">lp-made</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script> -->

  <script src="{{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <!-- <script src="assets/js/main.js"></script> -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
</body>
</html>
